[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = http://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = http://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/vim-haml"]
	path = vim/bundle/vim-haml
	url = http://github.com/tpope/vim-haml.git
