snippet gosh
	#!/usr/bin/env gosh

snippet l
	(lambda (${1})
		(${2})${3})
	${4}

snippet main
	(define (main args)
		(${1})
		0)
	${2}

snippet srfi
	(use srfi-${1})
	${2}

snippet use
	(use ${1})
	${2}
